@using GameCraft.Controllers
@using GameCraft.Models
@model IEnumerable<Boardgame>
@{
    ViewBag.Title = "BoardgameList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Gry Planszowe</h2>
<p>
@Html.ActionLink("Dodaj grę", "New", "Boardgame", new { @class = "btn btn-primary" })
</p>
<table id="boardgames" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Tytuł</th>
        <th>Kategoria</th>
        <th>Liczba graczy</th>
        <th>Usuń</th>
        
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {

            var table = $("#boardgames").DataTable({
                ajax: {
                    url: "/api/boardgames",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data,type,boardgame) {
                            return "<a href='/boardgame/edit/" + boardgame.id + "'>" + data + "</a>";
                        }

                    },
                    {
                        data:"genre.name"
                    },
                    {
                        
                        render: function(data,type,boardgame) {
                            return boardgame.minPlayerNumber + " - " + boardgame.maxPlayerNumber;
                        }

                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class= 'btn-link js-delete' data-boardgame-id="+ data +">Usuń</button>";
                        }
                    }
                ]
            });

            $("#boardgames").on("click",".js-delete",function() {

                    var button = $(this);

                    bootbox.confirm("Czy napewno chcesz usunąć grę?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/boardgames/"+button.attr("data-boardgame-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                    }

                                });
                            }
                        });

                });

        });


    </script>



}