
@{
    ViewBag.Title = "New Rental Form";
}

<h2>Nowe Wypożyczenie</h2>

<form>
    <div class="form-group">
        <label>Klient</label>
        <input type="text" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label>Gra Planszowa</label>
        <input type="text" value="" class="form-control" />
    </div>

    <button class="btn btn-primary">Wypożycz</button>

</form>
